@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

p {
  font-size: 20px;
  text-align: center;
  height: 30%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Poiret One', sans-serif;
}


.home,
.journey,
.projects{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.journey {
  background-image: url('images/journey.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.projects {
  background-image: url('images/projets.jpeg'), linear-gradient(#52578D, #FFCFD0);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.order {
  background-image: url('images/pancakes.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.text1, .text2, .text3, .text4 {
  width: 100%;
  display: grid;
  padding: 1rem;
  grid-template-columns: 50% 1fr;
  gap: 1rem;
  align-items: left;
  max-width: 1400px;
  margin: 0 auto;
  
}

.text1 > p {
  text-align: left;
  font-size: 40px;
  margin-top: 10px;
}

.text3 > p {
  text-align: left;
  font-size: 35px;
  margin-top: 10px;
}

.text2 > p{
  text-align: right;
  margin-right: 90px;
  font-size: 35px;
}

.text4 > p{
  text-align: right;
  margin-right: 40px;
  font-size: 30px;
}

@media screen and (max-width: 1400px) {
  .text1, .text2, .text3, .text4 {
    max-width: 1200px;
  }
  
  .text1 > p,.text2 > p,.text3 > p,.text4 > p {
    font-size: 25px;
  }

  /* .text2 > p {
    font-size: 25px;
  }

  .text3 > p {
    font-size: 25px;
  } */


}

@media screen and (max-width: 800px) {
  .text1, .text2, .text3, .text4 {
    max-width: 700px;
    font: 10;
  }

  .text1 > p,.text2 > p,.text3 > p,.text4 > p {
    font-size: 17px;
  }

  .journey,.projects{
    font-size: 70px;
  }

}
